body {
  font-family: Arial, sans-serif;
  max-width: 70rem;
  margin-left:50px;
  margin-right: 10px;
}

header {
  background-color: orangered;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: black;
  color: floralwhite;
}

img {
  width: 100%;
}

.caption {
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  text-align: center;
}

h1 {
  font-style: bold;
  font-size: 80px;
}

h2 {
  font-size: 40px;
  margin-bottom: 1.5rem;
}

h3 {
  font-style: bold;
  font-size: 24px;
  color: seagreen;
}



p {
  font-size: 20px;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
